$bg:#212121;
$normalObjectColor:#3eccb5;
body{
    font-family: '微軟正黑體','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#F8FFF4;
    margin:0;
    color:#474350;
    font-size:30px;
    max-width:1900px;
}
 #title{
    .container{
        width:100%;
        display: block;
        background-color: $bg;
        color: $normalObjectColor;
        ul{
            padding:10px;
            margin:0;
            li{
                display: inline;
            }
            a{
                font-weight: bold;
                color:white;
            }
            a:visited{
                font-weight: bold;
                color:white;
            }
        }

    }


 }

